@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
/* POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/*! must before all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #001833;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #bbcae0;
  overflow-y: scroll;
}

.main {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.answer {
  margin: 1rem;
  max-width: 300px;
  max-height: 100px;
  overflow: hidden;
  transition: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) all;
}

.open .answer {
  max-height: 0;
}

.question {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background: transparent;
  border: none;
  font-weight: 900;
  cursor: pointer;
  padding: 0.5rem;
}

/* @media (max-width: 500px) {
  .startBtn,
  .stopBtn,
  .resetBtn {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .timer {
    font-size: 3rem;
    text-align: center;
  }
} */
